.system-index {
  background-color: #f0f2f5;
  height: 100%;
  overflow: auto;

  .card{
    border-radius: 5px;
    background-color: #fff;
  }

  .index-user-info {
    padding: 12px;

    .headImg {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .index-body {
    margin-top: 20px;
    display: flex;

    .index-left {
      flex: 1;
    }

    .index-right {
      width: 400px;
    }
  }
}