.window {
    height: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: transparent;
    .window-body {
        height: 100%;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        box-shadow: 0 0 5px #555;
        .container {
            height: 100%;
        }
        .app-btns {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 30px;
            color: #555;
            user-select: none;
            z-index: 9999;
            .logo {
                /* 告诉程序哪里可以拖拽 */
                app-region: drag;
                height: 100%;
                width: 20px;
                margin-left: 5px;
                object-fit: contain;
            }
            .drag {
                height: 100%;
                flex: 1;
                /* 告诉程序哪里可以拖拽 */
                app-region: drag;
            }
            .min,
            .max,
            .close {
                padding: 7px 12px;
                font-size: 16px;
                cursor: pointer;
                transition: all linear 0.1s;
            }
            .min:hover,
            .max:hover,
            .close:hover {
                background-color: #eeeeee;
            }
        }
    }
}
