.code-generator-modal{
    .ant-tabs-tabpane{
        max-height: 400px;
        overflow: auto;
        white-space: pre-wrap;
        line-height: 20px;
    }
    .ant-modal-body{
        max-height: 630px;
        overflow: auto;
    }
}