.lia-crud {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100%;
    }

    .crud-form {
        max-width: 100%;
    }
}

.lia-crud-modal .ant-modal-body {
    max-height: 500px;
}

.icons-modal {
    .ant-modal-body {
        max-height: 500px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .list-icon {
        font-size: 40px;
        color: #555;
        padding: 20px;
        border-radius: 5px;
        transition: all ease 0.1s;
    }

    .list-icon:hover {
        background-color: #40a9ff;
        color: white;
        transform: scale(1.2);
    }
}

.ant-modal-body .checkbox-group {
    max-height: 500px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
}

.ant-modal-body .multiple-tree {
    max-height: 500px;
    overflow: auto;
}